# The example file to set the properties if one desires to use XData-Datagen without web interface.
# The variables declared below are to be replaced by the credentials one desire to use while working on XData 
#name of the database to be used
databaseName=xdata

#database user name- 
existingDatabaseUser=xdata
#password
existingDatabaseUserPasswd=xdata

#test database for creating test tables (not required for parsing)
testDatabaseUser=testing
testDatabaseUserPasswd=testing

# Address of database server
databaseIP=127.0.0.1
databasePort=5432

#Scratch directory 
homeDir=/home/rambabu/

#Smt solver used for constraint generation (its exe path can also be there)
smtsolver=cvc3
#smtsolver=z3

logFile=/tmp/temp_cvc4/XData.log
logLevel=INFO